@model Bulletin_Board.Models.Zhibanyuan
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>值班员添加</title>
    <link href="~/Content/site.css" rel="stylesheet" />
</head>
<body>
    <div class="main1">
        <div>
            <table>
                <thead>
                    <tr>
                        <td colspan="2" class="td1">@Html.ActionLink("信息编辑", "EditMessage")</td>
                    </tr>
                    <tr>
                        <td>姓名</td>
                        <td>操作</td>
                    </tr>
                    
                </thead>
                <tbody>
                    
                    @{ 
                        
                            var users = ViewBag.users;
                            foreach (var user in users)
                            {
                            <tr>
                                <td>@user.Name</td>
                                <td>@Html.ActionLink("删除","DeleteUser",new { Id=user.Id})</td>
                            </tr>
                                }
                            
                        }
                </tbody>
            </table>
        </div>
     @using (Html.BeginForm())
     {
         @Html.EditorFor(m=>m.Name)

         <input type="submit" value="Add"/>
     }
    </div>
</body>
</html>
